.boton_cal{
    height: 100%;
    flex-grow: 1;
    background-color: #3a0ca3;
    color: white;
    margin: 0px 10px;
    border-radius: 25px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .3s ease all;
    user-select: none;
    font-size: 1.3em;
}
.boton_cal:hover{
    background-color: #4361ee;
}
.boton_cal:active{
    transform: scale(.9, .9);
}
.boton_cal.operador{
    background-color: #515A5A;
}